{% if 0 %}
<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" type="text/css"href="bootstrap.css">

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

</head>

<body>
{% endif %}

<div class="slidecontainer" id='traintest' width="100%" align="center">
    <!-- style="position:relative; width:100%" align="center" -->
    <div class="center" width="100%" id='divVideo'>
    </div>
    <div class="center">
        <div id='main-slider' class='box'>
            <div id="feedback" align=center style="display:none"></div>
            <div id="trial_num" style="display:none"></div>
            <div id="short_info" align="center" style="width: 80%; margin: 0 auto; text-align: left; display:none" align=c enter></div>
            <div id="slider_info" align=center>
                Please drag the slider to indicate the quality you saw.
                <br>Focus on the <b>quality</b> instead of the content.
                <br>(The initial position of the slider is placed at random.)</div>
            <div id="short_instructions" style="display:none;"></div>
            <br />

            

            <div class="steps" style="display: flex; justify-content: space-between; width:80%; position:relative; font-size:small;" align="center">
                <span style="display:inline-block;width:19%;text-align:center;">
                   BAD
                </span>
                <span style="display:inline-block;width:19%;text-align:center;">
                   POOR
                </span>
                <span style="display:inline-block;width:19%;text-align:center;">
                   FAIR
                </span>
                <span style="display:inline-block;width:19%;text-align:center;">
                   GOOD
                </span>
                <span style="display:inline-block;width:19%;text-align:center;">
                   EXCELLENT
                </span>
            </div>
            <input type="range" class="slider" name="points" id="points" value="50" min="0" max="100" data-show-value="false" style="position:relative; height:10px; width:80%;" align="center">
            <!-- <div class="steps" style="position:relative; font-size:small;" align="center">
              <span style="display:inline-block;width:3.25%;text-align:center;"> | </span>
              <span style="display:inline-block;width:3.25%;text-align:center;"> | </span>
              <span style="display:inline-block;width:3.25%;text-align:center;"> | </span>
              <span style="display:inline-block;width:3.25%;text-align:center;"> | </span>
              <span style="display:inline-block;width:3.25%;text-align:center;"> | </span>
              <span style="display:inline-block;width:3.25%;text-align:center;"> | </span>
              <span style="display:inline-block;width:3.25%;text-align:center;"> | </span>
              <span style="display:inline-block;width:3.25%;text-align:center;"> | </span>
              <span style="display:inline-block;width:3.25%;text-align:center;"> | </span>
              <span style="display:inline-block;width:3.25%;text-align:center;"> | </span>
              <span style="display:inline-block;width:3.25%;text-align:center;"> | </span>
              <span style="display:inline-block;width:3.25%;text-align:center;"> | </span>
              <span style="display:inline-block;width:3.25%;text-align:center;"> | </span>
              <span style="display:inline-block;width:3.25%;text-align:center;"> | </span>
              <span style="display:inline-block;width:3.25%;text-align:center;"> | </span>
              <span style="display:inline-block;width:3.25%;text-align:center;"> | </span>
              <span style="display:inline-block;width:3.25%;text-align:center;"> | </span>
              <span style="display:inline-block;width:3.25%;text-align:center;"> | </span>
              <span style="display:inline-block;width:3.25%;text-align:center;"> | </span>
              <span style="display:inline-block;width:3.25%;text-align:center;"> | </span>
              <span style="display:inline-block;width:3.25%;text-align:center;"> | </span>
            </div> -->
            <br/>
            <div class="steps" style="display: flex; justify-content: space-between; position:relative; font-size:small; width:87%" align="center">
              <span style="display:inline-block;width:8%;text-align:center;"> 0 </span>
              <span style="display:inline-block;width:8%;text-align:center;"> 10 </span>
              <span style="display:inline-block;width:8%;text-align:center;"> 20 </span>
              <span style="display:inline-block;width:8%;text-align:center;"> 30 </span>
              <span style="display:inline-block;width:8%;text-align:center;"> 40 </span>
              <span style="display:inline-block;width:8%;text-align:center;"> 50 </span>
              <span style="display:inline-block;width:8%;text-align:center;"> 60 </span>
              <span style="display:inline-block;width:8%;text-align:center;"> 70 </span>
              <span style="display:inline-block;width:8%;text-align:center;"> 80 </span>
              <span style="display:inline-block;width:8%;text-align:center;"> 90 </span>
              <span style="display:inline-block;width:8%;text-align:center;"> 100 </span>
            </div>


            <br>
            <br>
            <br>
        </div>

        <div id="buttonA" style="position:relative;" title="You must move the slider before submitting!"
        data-toggle="popover" data-placement="bottom" data-content="You must move the slider before submitting!"
        >
            <div id="submit_info" style="font-size:medium;"></div>
            <button class="btn btn-primary btn-xl nextButton" id="sub_butA" type="button" onclick="submitAnswer()" style="position:relative;">
                Submit
            </button>
            <br/>
            <br/>
            <div id="report_video" style="font-size:small;">
              <a id="report_but" data-toggle="modal" data-target="#attributes">
                &nbsp; &#9873; Report &nbsp; &nbsp;
              </a>
            </div>
        </div>

    </div>
    <br>
    <br>
</div>


<!-- Button trigger modal -->
  <!-- <p  style="font-size:12pt"><nobr>Do you want to report the video?</nobr></p> -->
<!-- <div id="report_video" class="footer navbar-fixed-bottom" style="position:absolute; font-size:small;display:none"  align="left">
  <a id="report_but" data-toggle="modal" data-target="#attributes">
    &nbsp;&nbsp;&#9873; Report
  </a>
</div> -->

<!-- Modal -->
<div class="modal fade" id="attributes" tabindex="-1" role="dialog" aria-labelledby="attributes" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">State your reason(s):</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body"  style="font-size:medium;">
        <ul style="list-style-type:none; position:relative;">
            <li>
                <input type="checkbox" id="still" name="still" value="still">
                <label for="still">Still Scenes</label>
            </li><li>
                <input type="checkbox" id="broken" name="broken" value="broken">
                <label for="broken">Video is broken</label>
            </li><li>
                <input type="checkbox" id="misoriented" name="misoriented" value="misoriented">
                <label for="misoriented">Misoriented</label>
            </li><li>
              <input type="checkbox" id="obscene" name="obscene" value="obscene">
              <label for="Obscene">Obscene</label>
            </li><li>
                <input type="checkbox" id="other" name="other" value="other_" onClick="$('#textbox').toggle()">
                <label for="other">Other</label>
            </li>
        </ul>
        <div id="textbox" style="display: none;">
            <p>What is(are) your reason(s)?</p>
            <input id="textbox_input" type="text" name="otherAnswer" value="">
            <br>
        </div>
      </div>
      <div class="modal-footer">
        <!-- <button type="button" class="btn btn-secondary btn-xl" data-dismiss="modal">Close</button> -->
        <button type="button" class="btn btn-primary btn-xl" data-dismiss="modal" onclick="submitAnswer();">Report</button>
        <!-- thank you for  your report -->
      </div>
    </div>
  </div>
</div>


  <!-- <div id="attributes" style="display: none;">
      <br>
      <div id="reasons" style="position:relative; align:left " >

      </div>

    </div>
</div> -->

{% if 0 %}
</body>
</html>
{% endif %}